@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Dancing+Script:wght@400&family=Nunito:wght@400&family=Merriweather:wght@400&family=Playfair+Display:wght@400&family=Roboto+Slab:wght@400&family=Kanit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    cursor: default;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-mode: #11111b;
    --color-light-mode: #ece7e1;
    --color-ddd-color: #ddd;
    --color-gray: #c4c4c4;
    --color-purple: #8000ff;
    --color-purple-2: #6900d3;

    --color-light-purple: #cf59e6;
    --color-light-blue: #6bc5f8;
    --color-navbarBorder-dark: #e2e2e207;
    --color-shadowDark: rgba(0, 0, 0, 0.137);
    --static-heading-gradient-blue: #b0f3f1;
    --static-heading-gradient-pink: #ffcfdf;
    --tech-stack-box-first-color: #1a1a29;
    --tech-stack-box-second-color: rgba(27, 27, 40, 0);
    --tech-stack-box-border-color: #292929;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}
.BlogPage
{
  width:100%;
        overflow-x:hidden;
        overflow-y:hidden;
        overflow: hidden;
 
}
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
    font-family: 'Popins' , sans-serif;
    background-color: #050816;
    /* png-color: #0f152e; */
    overflow-x: hidden;
  }
  
  .hideOverflow
  {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.pointer
{
  cursor: pointer !important;
}


.home
{
  position: relative;
  overflow-x: hidden !important;
}


::-webkit-scrollbar {
  width: 5px
}

::-webkit-scrollbar-track {
  background: #0a0a10
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-purple)
}




.hideme
{
  display: none;
}



@media only screen and (max-width: 600px) {
  .smallLine
  {
    height: 2px;
    width: 100vw;
    border-bottom: 1px solid rgb(100, 100, 100);
  }

  .blob{
    display: none;
  }
  .HideCursor
  {
    display: none;

  }

}


  
