<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
  
    <div style="display: flex;">
      <img src='https://media.licdn.com/dms/image/v2/D5622AQHCK4aLcOgrhA/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1724597715046?e=1735776000&v=beta&t=MGbZgZLEebpvCLjeNEa0822wM1hMgcWvQRqDz4hUB64' width='500' height='500' />
      <img src='https://media.licdn.com/dms/image/v2/D5622AQEJtWHSB1rzag/feedshare-shrink_1280/feedshare-shrink_1280/0/1724597714821?e=1735776000&v=beta&t=3AKR6V9cK9XdS0cjhGuCmc0mad02oRCNk7w9Vf8TRcg' width='500' height='500' />
    </div>

  </body>
</html>
